flask
flask-cors
python-dotenv
langchain
langchain-chroma
langchain-community
langchain-core
langchain-experimental
langchain-google-genai
langchain-groq
langchain-huggingface
langchain-openai
langchain-text-splitters
langchainhub
langcodes
langgraph
langgraph-checkpoint
langgraph-checkpoint-sqlite
langgraph-cli
langgraph-prebuilt
langgraph-sdk
langserve
langsmith
language_data
language_tool_python
torch
murf
requests
SpeechRecognition
pyaudio
whisper
openai-whisper
huggingface-hub
gradio
wave